body {
	background-color: #d3d3d3;
	font-family: Arial, sans-serif;
}

a {
	color: #8FBC8F;
}

h1 {
	margin: 25px;
}

#header-nav {
	background-color: #234d67;
	border: 0;
	/*border-radius: 0;*/
}

.navbar-brand {
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	margin: 10px;
}

.navbar-brand a:hover { /* kad predjem FOod LLC mijenja mi se boja*/
  color: #ffcd00;
  text-decoration: none;
} 



.navbar-toggle {
	color: #00CED1;
}

button.navbar-toggle {
	margin: 15px;
}

#collapsable-nav {
	width: 100%;
	text-align: center;
	background-color: #234d67;
	margin: 0;
}

#nav-list a{
  color: white;
  text-align: center;
}

#nav-list a:hover{ /* ovdje sam napravila da mi u isti u 
	button-u kad predjem preko nekog naziva pojavisa se zuta boja*/
  background-color: #ffdf50;
  color: black;
}

.high{
  background-color: #ffdf50;
  text-align: justify;
  margin-bottom: 25px;
  padding: 10px;
}

@media (max-width: 767px) {

.high{
  margin-left: 10px;
  margin-right: 10px;
}
}